*{
  box-sizing: border-box;
}
body{
  margin:0;
  background: black;
}
nav{
  background: #2E2D2A;
  width: 100%;
  overflow: auto;
}
ul{
  margin: 0;
  padding: 0;
  list-style:none;
}
li{
  float: right;
}
nav a{
  width: 120px;
  display: block;
  text-decoration: none;
  text-align: center;
  background: #2E2D2A;
  font-size: 23px;
  color:white;
  padding: 20px 10px;
  font-family: Taylor Gothic;
}
nav a:hover{
  background: #484743;
  color: black;
}
.container{
  max-width: 1200px;
  margin:auto;
  background:black;
  overflow: auto;
}
.gallery{
  margin:5px;
  border:1px solid black;
  float:left;
  width: 390px;
}
.gallery img{
  width: 100%;
  height: auto;
}
.desc{
  padding: 15px;
  text-align:center;
  color:white;
  font-family: Felix Titling;
}
.gallery:hover{
  border:1px solid #FF5C13;
}
.paragraf{
  color: white;
  font-family: Felix Titling;
  float: right;
  margin-top: 300px;
  margin-right: 40px;
  letter-spacing: 1px;
  font-size: 15px;
}
.billedeafmig{
  margin-right: :100px;
  margin-top: 110px;
  padding-left: 100px;
}
.logos{
  margin-left: 1000px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #2E2D2A; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #2E2D2A;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Felix titling;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #FF5C13;
}

/* Add a background color and some padding around the form */
.contact {
  border-radius: 5px;
  background-color: black;
  padding: 20px;
  color: white;
  font-family: Felix titling;
}
footer{
  margin-top: 100px;
  bottom: 0px;
  padding: 10px;
  font-size: 17px;
  text-align: left;
  background: #2E2D2A;
  color:white;
  font-family: Felix Titling;
  letter-spacing: 1px;
}
