body{
  background-color: black
}*{
  margin:0;
  padding:0;
}
header,footer{
    position: absolute;
    background-color: #2E2D2A;
    width: 100%;
    color:white;
}
header h2{
  position: absolute;
  margin-top: 20px;
  left:2%;
  font-family: Taylor Gothic;
  font-size: 40px;
}
header h3{
  position: absolute;
  color: white;
  margin-top: 150px;
  left:46%;
  font-family: Taylor Gothic;
  font-size: 40px;
}
header{
  height: 10vh;
}
footer{
  height: 15vh;
  bottom:0;
}
.nav{
  position: absolute;
  width: 100%;
}
.nav a{
  position: relative;
  left: 82%;
  top:30px;
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-family: Taylor Gothic ;
  font-size: 20px;
}
footer p{
  position: absolute;
  left:2%;
  bottom:30px;
  color:white;
    font-family: Felix Titling ;
}
img.billedeafmig{
  float:middle ;
  margin-top: 150px;
position: absolute;
right: 45%;
  width:200px;
}
.container{
  max-width: 100px;
  margin:auto;
  background: white;
  overflow: auto;
}
.gallery{
  margin:100px;
  border:1px solid #FF5C13;
  float:left;
  width: 200px;
  align-items: auto;
  font-family: arial;
  font-size: 18px;
  color: white
}
.gallery img{
  width: 100%;
  height: auto;
  right: 15%;
}
.desc{
  padding:0px;
  text-align: center;
}
